
  h1 {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3rem;
  }

  p {
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

  }

  h2 {
    text-align: center;
     margin-top:10px;
     margin-left:20px;
     font-size: 1rem;
  }

  h3 {
    text-align: center;
     margin-top:10px;
     margin-left: 20px;
     font-size: 1rem;
  }

  h4 {
    text-align: center;
     margin-top:10px;
      margin-left: 20px;
     font-size: 1rem;
  }

  h5 {
    text-align: center;
     margin-top:10px;
      margin-left: 20px;
     font-size: 1rem;
  }

  h6 {
    text-align: center;
     margin-top:10px;
      margin-left: 20px;
     font-size: 1rem;
  }

    h7 {
    text-align: center;
     margin-top:10px;
      margin-left: 20px;
     font-size: 1rem;
  }

 h8 {
    text-align: center;
     font-size: 1.5rem;
  }